@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: #111;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}
.slide {
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}




.slide h3 {
  position: absolute;
  font-size: 18px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.slide.active {
  flex: 10;
}

.slide.active h3, 
.slide.active h2 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.info {
  position: relative;
  transition: all 500ms ease-in-out;
  height: 80hv;
}
.info h2 {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin: 0;
  opacity: 0;
  left: 50px;
  top: 50px;
}

.info ul {
  list-style: none;
  position: relative;
  opacity: 0;
}
.slide.active ul {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.5s;
}
.info li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-top: 550px;
  position: absolute;
  left: 20px;
}
